[Unit]
Description=Automatically run rustup check
After=network.target

[Service]
Type=oneshot
ExecStart=/home/daisy/code/auto_rustup_check/target/release/auto_rustup_check

[Install]
WantedBy=multi-user.target
