[Unit]
Description=Automatically run rustup check
After=network.target

[Service]
Type=oneshot
ExecStart=/home/daisy/code/auto_rustup_update/target/release/auto_rustup_update